html {
    background-color: rgb(31, 125, 115);
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#div0 {
    border: thick solid rgb(12, 83, 76);
    border-width: 7px;
    float: left;
    height: 480px;
    width: 450px;
    margin-top: 120px;
    margin-left: 150px;
    background-color: white;
    border-radius: 40px;
}

#div1 {
    border: thick solid rgb(12, 83, 76);
    border-width: 7px;
    float: right;
    height: 480px;
    width: 450px;
    margin-right: 150px;
    margin-top: 120px;
    background-color: white;
    border-radius: 40px;
}

span {
    position: fixed;
    z-index: 100;
    width: 300px;
    height: 200px;
    background-color: rgb(12, 83, 76);
    border-radius: 20px;
    
}

button {
    background-color: rgb(12, 83, 76);
    color: white;
    border-color: rgb(12, 83, 76);
    border-radius: 20px;
    padding: 2%;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}